####################################################################################################
## @file        .gitignore
 #  @brief      Plenact Lists & Cards
 #  @details    x
 #
 #  @author     Justin Reina, Firmware Engineer
 #  @created    9/27/26
 #  @last rev   9/27/26
 #
 #  @section    Legal Disclaimer
 #      © 2026 Justin Reina, All rights reserved. All contents of this source file and/or any other 
 #        related source files are the explicit property of Justin Reina. Do not distribute. Do 
 #        not copy.
##
####################################################################################################i

####################################################################################################
##                                            IGNORED                                             ##
####################################################################################################
.Archived/


####################################################################################################
##                                             APPLE                                              ##
####################################################################################################
.DS_Store


####################################################################################################
##                                            PROJECT                                             ##
####################################################################################################
Plenact Cards & Lists.xcodeproj/project.xcworkspace/xcuserdata/


